---
import { SurveyStatusEnum } from "@devographics/types";
import T from "./T";
import sortBy from "lodash/sortBy";
import CalendarSection from "./CalendarSection.astro";

const { surveys, locale } = Astro.props;
import { Debug } from "astro/components";
import { calendarSections } from "@helpers/constants";

const allEditions = surveys.map((s) => s.editions).flat();
const currentYear = new Date().getFullYear();
const currentYearEditions = allEditions.filter((e) => e.year === currentYear);
const editionsWithSurveys = currentYearEditions.map((e) => ({
  ...e,
  survey: surveys.find((s) => s.id === e.surveyId),
}));

const sortedEditions = sortBy(
  editionsWithSurveys,
  (e) => new Date(e.feedbackAt)
);

const currentDate = new Date();
const pastEditions = sortedEditions.filter(
  (e) => currentDate > new Date(e.endedAt)
);
const ongoingEditions = sortedEditions.filter(
  (e) =>
    currentDate > new Date(e.startedAt) && currentDate < new Date(e.endedAt)
);
const upcomingEditions = sortedEditions.filter(
  (e) => currentDate < new Date(e.startedAt)
);
---

<section id="calendar" class="calendar">
  <h2><T locale={locale} k="calendar.heading" values={{ currentYear }} /></h2>

  <CalendarSection
    locale={locale}
    editions={pastEditions}
    sectionId={calendarSections.past}
    ]
  />
  <CalendarSection
    locale={locale}
    editions={ongoingEditions}
    sectionId={calendarSections.ongoing}
  />
  <CalendarSection
    locale={locale}
    editions={upcomingEditions}
    sectionId={calendarSections.upcoming}
  />
</section>

<style lang="scss">
  @use "../stylesheets/_breakpoints.scss";

  .calendar-edition {
    margin-bottom: var(--doublespacing);
  }
</style>
