---
import SurveyEdition from '@components/SurveyEdition.astro'
import T from '@components/T'
import Newsletter from '@components/Newsletter'
import { statuses } from '@helpers/constants'
import { getLocaleSubset } from '@helpers/translator'
const { survey, locale, surveys } = Astro.props
const editions = survey.editions.sort((e1, e2) => e2.year - e1.year).filter(e => e.status !== statuses.hidden)
const { slug } = survey

const [lastEdition, ...pastEditions] = editions
const openEdition = editions.find(e => e.status === statuses.open)
const closedEditions = editions.filter(e => e.status === statuses.closed)
---

<div class="homepage">

  <h1>
    {survey.name}
  </h1>
  <p class="survey-description">
    <T locale={locale} k={`general.${slug}.description`} />
  </p>

  <section class="last-edition">
    <SurveyEdition locale={locale} edition={lastEdition} survey={survey} isLast={true} />
  </section>

  <div class="intro">
    <T locale={locale} k={`general.${slug}.intro`} />
  </div>


  <Newsletter client:load locale={getLocaleSubset(locale, ['newsletter.stay_tuned', 'newsletter.leave_your_email'
    , 'homepage.newsletter.email' , 'homepage.newsletter.submit' ])} listId={survey.emailOctopus.listId} />

  {pastEditions.length && <section class="past-editions">
    <h2>
      <T locale={locale} k="homepage.past_surveys" />
    </h2>
    <div class="past-editions-items">
      {pastEditions.map(edition => (
      <SurveyEdition locale={locale} key={edition.surveyId} edition={edition} survey={survey} />
      ))}
    </div>
  </section>}

</div>

<style lang="scss">
  h1 {
    font-size: var(--title-font);
    text-align: center;
    margin-bottom: var(--halfspacing);
    line-height: 1;
  }

  .survey-description {
    font-size: var(--large-font);
    margin-bottom: var(--doublespacing);
    text-align: center;
    opacity: var(--secondary-opacity);
  }

  h2 {
    font-size: var(--larger-font);
    margin-bottom: var(--doublespacing);
    text-align: center;
  }

  .intro {
    font-size: var(--large-font);
    margin-bottom: var(--doublespacing);
    text-align: center;
  }

  .last-edition,
  .past-editions {
    margin-bottom: var(--doublespacing);

  }

  .past-editions-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--doublespacing);
    row-gap: var(--doublespacing);
  }
</style>