---
import T from '@components/T'
import { statuses } from '@helpers/constants'

const { survey, edition, locale } = Astro.props
const { year, questionsUrl, resultsUrl, imageUrl, status, colors = {} } = edition
const { background } = colors
const mainLink = status === statuses.open ? questionsUrl : resultsUrl;
---

<div class="survey-edition">
    <div class="survey-edition-card" style={`background: ${background};`}>

        {status === statuses.open && <h4 class="survey-edition-open-now">
            <T locale={locale} k="homepage.survey_open_now" />
        </h4>}
        <h4 class="survey-edition-year">{year}</h4>
        <div class="image-wrapper">
            <a href={mainLink}><img src={imageUrl} /></a>
        </div>
    </div>
    {status === statuses.open ? (<div class="survey-edition-actions survey-open">
        <a href={questionsUrl} class="button">
            <T locale={locale} k="homepage.take_survey" />
        </a>
    </div>): (<div class="survey-edition-actions survey-closed button-group">
        {questionsUrl && <a href={questionsUrl} class="button">
            <T locale={locale} k="homepage.view_questions" />
        </a>}
        {resultsUrl &&
        <a href={resultsUrl} class="button">
            <T locale={locale} k="homepage.view_results" />
        </a>
        }
    </div>)}
</div>

<style lang="scss">
    .survey-edition {
        margin-bottom: var(--doublespacing);
    }

    .survey-edition-card {
        // border: var(--border);
        // background: linear-gradient(0deg, var(--background), var(--backgroundSecondary));
        // padding: var(--spacing);
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: var(--quarterspacing);
    }

    .survey-edition-open-now,
    .survey-edition-year {
        position: absolute;
        background: var(--primary);
        color: var(--background);
        padding: var(--quarterspacing) var(--halfspacing);
        top: 0;
    }

    .survey-edition-open-now {
        left: 0;
        text-transform: uppercase;
        background: var(--secondary);
        color: var(--text);
    }

    .survey-edition-year {
        right: 0;
    }

    .image-wrapper {
        padding: var(--halfspacing);
        aspect-ratio: 300/200;
        display: grid;
        place-items: center;
    }

    img {
        width: 100%;
        max-width: 1000px;
    }

    .survey-open {}
</style>