---
import BlockSwitcher from "@/components/ui/Dummy.astro";
import type { BlockDefinition } from "../../../../shared/types";
import { mq, spacing } from "@/lib/theme";

interface Props {
  block: BlockDefinition;
  pageData?: any;
  blockIndex?: number;
  withMargin?: boolean;
}

const { block, pageData, blockIndex, withMargin } = Astro.props;
---

<style
  set:text={`
section {
${
  withMargin &&
  `
    margin-bottom: ${spacing(3)};

    @media ${mq.large} {
      margin-bottom: ${spacing(6)};
    }
  `
}
}
`}
></style>

<section class="empty-wrapper">
  {
    block.variants.map((block, variantIndex) => (
      <BlockSwitcher
        key={block.id + variantIndex}
        block={block}
        pageData={pageData}
        blockIndex={blockIndex}
        variantIndex={variantIndex}
      />
    ))
  }
</section>
