---
import { I18nContext, I18nContextProvider } from '../helpers/i18nContext'
import Footer from '../components/Footer.astro'
import OtherSurveys from '@components/OtherSurveys.astro'

import '../stylesheets/_breakpoints.scss'
import '../stylesheets/_global.scss'
import '../stylesheets/_buttons.scss'

// import { I18nContext } from '../helpers/i18nContext'
import {
  getStringTranslator,
} from '../helpers/translator'


const { surveys, survey, locale, locales, redirect } = Astro.props;
const { name, imageUrl, slug, domain, faviconUrl, editions } = survey

const lastEdition = editions.sort((e1, e2) => e2.year - e1.year)[0]
const { colors } = lastEdition
const getString = getStringTranslator(locale)

const description = getString(`general.${slug}.description`)?.t
const title = name
const url = `https://${domain}`

const meta = [
  { charset: "utf-8" },
  { name: "description", content: description },
  // responsive
  { name: "viewport", content: "width=device-width, initial-scale=1" },
  // facebook
  { property: "og:type", content: "article" },
  { property: "og:url", content: url },
  { property: "og:image", content: imageUrl },
  { property: "og:title", content: title },
  { property: "og:description", content: description },
  // twitter
  { name: "twitter:card", content: "summary_large_image" },
  { name: "twitter:image:src", content: imageUrl },
  { name: "twitter:title", content: title },
  { name: "twitter:description", content: description },
]

const { primary, secondary, background, backgroundSecondary, text } = colors
---

<I18nContextProvider locale={locale} locales={locales} client:load>
  <html lang="en">

  <head>

    {redirect &&
    <meta http-equiv="refresh" content={ `0; url=/en-US` } /> }
    {meta.map((tag) =>
    <meta {...tag} />)}

    <link rel="icon" type="image/x-icon" href={faviconUrl} />

  </head>

  <body>
    <OtherSurveys locale={locale} surveys={surveys} survey={survey} />
    <main class="layout">
      <slot />
      <Footer {...Astro.props} />
    </main>
  </body>

  </html>
</I18nContextProvider>

<style is:global define:vars={{ primary, secondary, background, backgroundSecondary, text }}>
  body {
    background: var(--backgroundSecondary);
    color: var(--text);
    font-weight: var(--medium);
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--primary);
    font-weight: var(--bold);
  }

  a,
  a:link,
  a:visited,
  a:active,
  a:focus {
    color: var(--primary);
  }

  .layout {
    max-width: var(--layout-width);
    margin: 0 auto;
  }
</style>