---
import { I18nProvider } from '../helpers/i18nContext'
import Footer from '@components/Footer.astro'
import Partners from '@components/Partners.astro'
import OtherSurveys from '@components/OtherSurveys.astro'
import { getMeta } from '@helpers/meta'
import { type CommonProps } from '@helpers/typings'

import '../stylesheets/main.scss'

const { surveys, survey, locale, locales } = Astro.props;
export type Props = CommonProps
const { editions } = survey

const lastEdition = editions.sort((e1, e2) => e2.year - e1.year)[0]
const { colors, faviconUrl } = lastEdition
const meta = getMeta({ survey, locale, lastEdition })

const { primary, secondary, background, backgroundSecondary, text } = (colors || {})

const variables = `
:root {
        --primary: ${primary};
        --secondary: ${secondary};
        --background: ${background};
        --backgroundSecondary: ${backgroundSecondary};
        --text: ${text};
      }
`
---

  <html lang="en">

  <head>

    <title>{survey.name}</title>
    {meta.map((tag) =>
    <meta {...tag} />)}

    <link rel="icon" type="image/x-icon" href={faviconUrl} />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <style set:html={variables}/>

    <script defer data-domain={survey.domain} src="https://plausible.io/js/script.js"></script>

  </head>

  <body>
<I18nProvider client:load locale={locale} locales={locales}>
      <OtherSurveys locale={locale} surveys={surveys} survey={survey} />
      <div class="layout">
        <div>
        <slot />
        </div>
        {survey.partners && <Partners {...Astro.props} />}
        <Footer {...Astro.props} />
      </div>
</I18nContextProvider>
  </body>

  </html>

<style lang="scss" is:global>
  body {
    background: var(--backgroundSecondary);
    color: var(--text);
    font-weight: var(--medium);
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--primary);
    font-weight: var(--bold);
  }

  a,
  a:link,
  a:visited,
  a:active,
  a:focus {
    color: var(--primary);
  }


  .layout {
    max-width: var(--layout-width);
    margin: 0 auto;

    @media screen and (max-width: 666px) {
      padding: 0 var(--spacing);
    }
  }
</style>