---
import { I18nContext, I18nContextProvider } from '../helpers/i18nContext'
import Footer from '@components/Footer.astro'
import OtherSurveys from '@components/OtherSurveys.astro'
import { getMeta } from '@helpers/meta'

import '../stylesheets/_breakpoints.scss'
import '../stylesheets/_global.scss'
import '../stylesheets/_buttons.scss'

const { surveys, survey, locale, locales, redirect } = Astro.props;
const { editions } = survey

const lastEdition = editions.sort((e1, e2) => e2.year - e1.year)[0]
const { colors, faviconUrl } = lastEdition

const meta = getMeta({ survey, locale })

const { primary, secondary, background, backgroundSecondary, text } = colors

---

<I18nContextProvider locale={locale} locales={locales}>
  <html lang="en">

  <head>

    {meta.map((tag) =>
    <meta {...tag} />)}

    <link rel="icon" type="image/x-icon" href={faviconUrl} />

  </head>

  <body>
    <OtherSurveys locale={locale} surveys={surveys} survey={survey} />
    <main class="layout">
      <slot />
      <Footer {...Astro.props} />
    </main>
  </body>

  </html>
</I18nContextProvider>

<style is:global define:vars={{ primary, secondary, background, backgroundSecondary, text }}>
  body {
    background: var(--backgroundSecondary);
    color: var(--text);
    font-weight: var(--medium);
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--primary);
    font-weight: var(--bold);
  }

  a,
  a:link,
  a:visited,
  a:active,
  a:focus {
    color: var(--primary);
  }

  .layout {
    max-width: var(--layout-width);
    margin: 0 auto;
  }
</style>