---
import PageHeader from "@/components/pages/PageHeader.astro";
import PageFooter from "@/components/pages/PageFooter.astro";
import BlockWrapper from "@/components/block/BlockWrapper.astro";
// import BlockWrapper from 'core/blocks/block/BlockWrapper'
//
//     const context = usePageContext()
//     const { showTitle = true, is_hidden = false } = context
//     return (
//         <>
//             {showTitle && <PageHeader />}
//             <main className="Page__Contents">
//                 {context.blocks &&
//                     context.blocks.map((block, i) => (
//                         <BlockWrapper key={`${block.id}_${i}`} block={block} index={i} />
//                     ))}
//             </main>
//             {!is_hidden && <PageFooter />}
//         </>
//     )
// }
interface Props {
  showTitle?: boolean;
}
const { i18n, pageDefinition } = Astro.locals;
const { is_hidden, blocks } = pageDefinition;
const { showTitle } = Astro.props;
---

<Fragment>
  {showTitle && <PageHeader />}
  <main class="Page__Contents">
    {
      !!blocks?.length ? (
        blocks.map((block, i) => {
          // TODO: explore how to properly use client:only to quickly migrate React code that uses Styled Components
          return <BlockWrapper client:only="astro" block={block} index={i} />;
        })
      ) : (
        <p>Empty page</p>
      )
    }
  </main>
  {!is_hidden && <PageFooter />}
</Fragment>
